<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>email : <b>jasonbailleul@jasonbailleul.fr</b></p>
  </div>
  <div class="list-group shadow">

    <a href="https://www.linkedin.com/in/jason-bailleul-5b7519272/" target="_blank" class="list-group-item list-group-item-action d-flex grap-3 py-3">
      <img src="assets/linkedin.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">Linkedin</h3>
    </a>

    <a href="https://github.com/Djayzon59?tab=repositories" target="_blank" class="list-group-item list-group-item-action d-flex grap-3 py-3">
      <img src="assets/github.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">Github</h3>
    </a>

  </div>
</div>
