<div class="container">
  <div class="row">

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h5>Welcome !</h5>
        <img src="../../assets/me.jpg" alt="profil picture" width="256" height="256" class="rounded-circle">
        <br>
        <br>
        <p>Bienvenue sur mon site-portfolio !</p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Aperçu</h2>
        <h4>{{featuredProject.name}}</h4>
      </div>

      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
        </div>
      </carousel>

      <p class="mt-2">{{featuredProject.summary}}</p>
  </div>

</div>
</div>
